body {
    font-family: sans-serif;
}
h1:hover{
color:purple;
}
a{
text-decoration: none;
color:#DDA0DD;
}
nav{
padding:10px;
}
header{
  background-image:linear-gradient(to right,#DDA0DD,#EE6B9C,#946BD6,#EAFC71 );
}
h1{
    text-align:center;
}
ul{
   border-top:solid black 3px;
   border-bottom:solid black 3px;
}
li{
   type:square;  
   
}
footer{
   border-top:solid black 3px;
   border-bottom:solid black 3px;
   background-image:linear-gradient(to right,#9303A7,#DE0052,#4C10AE,#D8F800 ); 
   padding :10px;
   margin:10px

}
.icon{
    background-color:white;
    border-radius:33px
}

